<%= form_for @character, 
  method: :patch, 
  data: { controller: "character" } do |form| 
%>
  <div class="flex flex-col md:flex-row justify-between items-start md:items-end w-full mb-12 bg-orange p-6 rounded-3xl text-green-200 drop-shadow-lg">
    
    <div class="flex flex-col items-start">
      <% if @character.image.attached? %>
        <%= image_tag @character.image, 
          class: "w-80 h-auto rounded-full drop-shadow-lg mb-12 md:mb-0" 
        %>
      <% end %>

    <% if !@character.image.attached? %>
      <%= form.label :image, "Image" %>
      <%= form.file_field :image, 
        class: "", data: { action: 'change->character#submit' }
      %>
    <% end %>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-1 md:grid-rows-2 
    gap-4 w-full md:w-[58%]">
      <div class="flex flex-col items-start">
        <%= form.label :name, "Name", class: "pl-1 mb-2" %>
        <%= form.text_field :name, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none 
          focus:ring-orange active:ring-orange w-full w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
      <div class="flex flex-col items-start">
        <%= form.label :character_class, "Class", class: "pl-1 mb-2" %>
        <%= form.text_field :character_class, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none
          focus:ring-orange active:ring-orange w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
      <div class="flex flex-col items-start">
        <%= form.label :level, "Level", class: "pl-1 mb-2" %>
        <%= form.text_field :level, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none 
          focus:ring-orange active:ring-orange w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
      <div class="flex flex-col items-start">
        <%= form.label :race, "Race", class: "pl-1 mb-2" %>
        <%= form.text_field :race, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none 
          focus:ring-orange active:ring-orange w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
      <div class="flex flex-col items-start">
        <%= form.label :background, "Background", 
        class: "pl-1 mb-2" %>
        <%= form.text_field :background, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none 
          focus:ring-orange active:ring-orange w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
      <div class="flex flex-col items-start">
        <%= form.label :alignment, "Alignment", class: "pl-1 mb-2" %>
        <%= form.text_field :alignment, 
          class: "bg-yellow rounded-lg drop-shadow-md border-none 
          focus:ring-orange active:ring-orange w-full", 
          data: { action: 'change->character#submit' } 
        %>
      </div>
    </div>
  </div>
<% end %>
