<!DOCTYPE html>
<html>
  <head>
    <title>CharacterSheets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-grey">
      <%= image_tag "Dungeons-Dragons-Transparent-1.png", 
        class: "w-full max-w-[1440px] h-auto rounded-full drop-shadow-lg mb-16 mx-auto" 
      %>
    <main class="w-full max-w-[1440px] mx-auto px-8 md:px-16 flex">
      <%= yield %>
    </main>
  </body>
</html>
